<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>こんにちは <%= @user.nick_name %> さん</h1>
	<p>The Muzzle のコンテンツが更新されました。<br>
	<br>
		是非 <%#= link_to "TheMuzzle", muzzle_path %> にお越しください。 <br>
		このメールは会員様のみに配信しております。<br>
		<br>
		これからもThe Muzzleを宜しくお願い致します。
	</p>
  </body>
</html>