<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1><%= @user.nick_name %>さん</h1>
	<p>この度は The Muzzle に会員登録していただきありがとうございます。<br>
	<br>
		登録後は全てのコンテンツをお楽しみいただけますので、是非ご覧になってください。<br>
		コンテンツが追加された際には <%= @user.email %> へお知らせが届きます。<br>
		お楽しみにお待ちください。<br><br>
		これからもThe Muzzleを宜しくお願い致します。
	</p>
  </body>
</html>