// Place all the styles related to the Offshots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*offshot*/
#offbox{
	background-color: rgba(0,0,0, .6);
	margin: auto;
	margin-top: 60px;
	margin-bottom: 60px;
	padding-bottom: 30px;
	width: 80%;
	height: auto;
}
#offbox p{
	color: white;
	font-size: 64px;
	padding-top: 30px;
	margin-bottom: 10px;
}
