
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-thumb{
  background-color: rgba(100, 0, 0, .7);
  border-radius: 10px;
  box-shadow:0 0 0 1px rgba(255, 255, 255, .1);
}
body{
	background-image: url(/back.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 0 0 8px 0;
	text-align: center;
  padding-top: 150px;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
a{
	color: black;
  cursor: url("cursor_32px.cur"), url("cursor_32px.png"), pointer;
}
.pagination, .pagination a{
  color: white;
  margin-bottom: 40px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

img.drawer-toggle{
  display: none;
}

header{
  height: 90px;
  background-color: rgba(0,0,0,.6);
}

#header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#nav{
  height: 90px;
  list-style: none;
  margin: 0 auto;
  padding-left: 10px;
}

#nav li{
  float: left;
  text-align: center;
  width: 8%;
  color: white;
  line-height: 90px;
  margin: 0 1%;
}

#nav li:hover{
  line-height: 80px;
  background-color: rgba(200,0,0,.6);
  border:0;
  border-bottom: 10px;
  border-style: solid;
  border-color: black;
  transition: .4s;
}

#nav li.muzzle{
  display: inline-block;
  margin: auto;
  height: 80px;
  width: 200px;
  line-height: 90px;
  margin-right: 5%;
  margin-top: 5px;
}
#nav li.muzzle:hover {
  line-height: 80px;
  background-color: rgba(0,0,0,0);
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: red;
}
.alert{
  color: white;
}


@import "blog";
@import "cd";
@import "contact";
@import "interview";
@import "item";
@import "offshot";
@import "order";
@import "root";
@import "user";
@import "sign";
@import "devise";
@import "responsive";