<meta http-equiv="refresh" content="5;URL=/muzzle">
<div id="send">
	<h1>メールを送信しました</h1>
	<p>5秒後にTOPへ移動します</p>
	<%= link_to muzzle_path do %>
		<img src="/muzzle_logo3.png" width="265px" height="100px">
	<% end %>
</div>
